<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&amp;display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Private Film Library</title>
</head>

<body>
	<nav>
		<ul>
			<li><a n:href="Homepage:signOut">Logout</a></li>
			<li><a n:href="Creators:default">Creators</a></li>
			<li><a n:href="Films:default">Films</a></li>
		</ul>
	</nav>		

	<div class="content-style">

		{include content}
	</div>

	{block scripts}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
		<script src="{$basePath}/js/netteForms.js"></script>
		<script src="{$basePath}/js/nette.ajax.js"></script> {* Nette Ajax depens on jQuery *}
		<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
