{block content}

        <h2>Login</h2>

    {form signInForm}
      <div>
        {input username, placeholder => "Username"}
      </div>
      <div>
        {input password, placeholder => "Password"}
      </div>
      {input send}
    {/form}
